.pageWrap
  height 100%
  width 100%
  box-sizing border-box
  margin 0 auto
  padding 30px 50px
  .pageHeader
    height 50px
    display flex
    justify-content space-between
    align-items center
    color #ffffff
    .title
      flex-shrink 0
      width 203px
      font-size 24px
    .btns
      display flex
    .btns_m
      display none
      i
        color #ffffff
    .btns, .btns_m
      .btn
        background rgba(0,0,0,0.5)
        padding 3px 5px
        margin-left 10px
        border-radius 5px
        cursor pointer
        font-size 24px
        &:hover
          transition all 0.3s linear
          background rgba(255,255,255,0.5)
          i
            color #7F7FD5
  .pageContent
    padding 15px 0


@media screen and (max-width: 600px)
  .pageWrap
    padding 30px 20px
    .pageHeader
      .btns
        display none
      .btns_m
        display flex

      
