@charset "utf-8"

@import '~@/assets/css/normalize.css'

#app
  font-family '思源黑体', 'Microsoft Yahei'
  font-size 20px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  height 100%
  width 100%
  overflow hidden

.el-loading-spinner i
  font-size 45px
.el-notification
  width 14%!important
.el-popover
  min-width 90px!important
// .__rail-is-vertical
//   top 10px!important
//   bottom 10px!important